@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.companion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 25px;
}

.grupoCompanion {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}

.label {
    border-radius: 5px;
    background-color: #83BB49;
    color: #ffffff;
    padding: 5px;
}

.input {
    border-radius: 5px;
    border: 2px solid #1D2128;
}

@media (max-width: 600px) {
    .label {
        font-size: 15px;
    }
    .input {
        font-size: 15px;
    }
}


@media (max-width: 1025px) {
    .companion { 
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
}