@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap%27');

.main {
    font-family: 'Oswald', sans-serif;
    padding: 20px 35px;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: contain;
    height: 100%;
}

/*FORM*/
.infoContainer {
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}
.noUpdateWindow{
    display: none;
}
/*tp*/
.tp {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*ACTIVITIES*/
.activities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 15px auto;
    width: 90%;
    flex-wrap: wrap;
}

.activitiesTitle {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.subActivities {
    display: flex;
    flex-direction: column;
}

/*PRICE / DURATION / PLACE*/
.pdp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*DISCOUNT*/
.discountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*DATES*/
.dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 15px;
}

.dateContainerL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.dateContainerR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areaDate {
    width: 180px;
    height: 160px;
    font-size: 16px;
    border: 2px solid black;
    resize: none;
    text-align: center;
}

.btnDate,
.btnSend {
    background-color: #00a748;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
    border: none;
    cursor: pointer;
}

.btnDate,.btnSend:hover {
    opacity: 0.8;
}

/*DESCRIPTION, RESTRICTIONS, KIT AND ITINERARY*/
.areaContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}

.areaSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.areaTitle {
    font-size: 16px;
    text-transform: uppercase;
}

.area {
    width: 300px;
    height: 200px;
    font-size: 16px;
    border: 2px solid black;
    resize: none;
}

.btnSendContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.sucessfullMessage{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #00a748;
}
.unSucessfullMessage{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.error {
    font-family: 'Genos', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

@media (max-width: 600px) {
    .area {
        width: 150px;
        height: 200px;
        margin-bottom: 10px;
    }

    .areaDate {
        width: 150px;
        height: 140px;
    }

    .activitiesTitle {
        margin-top: 35px;
    }

    .error {
        font-size: 20px;
        text-align: center;
    }
}