@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap');

.main {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 20px 35px;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

.error {
    font-family: 'Genos', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

.contenedorEvents {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedorEvent {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;
    width: 20vw;
}

.contenedorEvent:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}


@media (max-width: 600px) {

    .main {
        font-size: 15px;
    }
    
    .contenedorEvents {
        gap: 5px;
        padding: 0;
    }

    .contenedorEvent {
        width: 50vw;
    }

    .error {
        font-size: 20px;
        text-align: center;
    }
}