.lbl {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.cont {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 0 20px;

}

.btn {
    appearance: none;
    background-color: transparent;
    border: solid  3px#fff;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
  }
  
  /* BTN VIP*/
  
.btnVIP {
    appearance: none;
    background-color: transparent;
    border: solid  3px#fff;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    min-height: 10px;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 20px;
    height: 50px;
  }

  .paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }



.btn:disabled {
    pointer-events: none;
  }

  .btn:active {
    box-shadow: none;
    transform: translateY(0);
    
  }
  

  
  .btnVIP:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .textInput {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: solid  3px#fff;
    color: #fff;
    padding: 0 30px 0 10px;
    transition: .3s ease all;
    height: 40px;
    width: 90%;
  }


.op{
    color: #000;
    background: #fff;
    width: 100%;
}
.op:hover:focus{
    background: greenyellow;
}

.btn:hover {
  color: #000;
  background-color: #83BB49;
  border-color:#83BB49;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.btnVIP:hover {
  color: #000;
  background-color: #83BB49;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnVIP:active {
  box-shadow: none;
  transform: translateY(0);
}




.op {
  color: #000;
  background: #fff;
  width: 100%;
}

.op:hover:focus {
  background: greenyellow;
}


.centerModalFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonWbords {
  color: #000;
  border-radius: 10px;
  font-size: 1.6em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
}
.btnModal{
  appearance: none;
  background-color: #000;
  border: solid  3px#fff;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  min-height: 10px;
  outline: none;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  height: 50px;

}

.btnModal:hover {
  color: #000;
  border-color: #83BB49;
  background-color: #83BB49;
  opacity: .8;
}

.myErrorStyle{
  color: red;
}

.myMessagetyle{
  color: rgb(23, 143, 7);
}

.h3{
  position: relative;
  display: 	flex;
  width: 100%;
  align-items: center;
  justify-content:center;
}

.imageVIP{
  position: absolute;
  left: 0;
}

.inputDate{
  margin-top: 5px;
  margin-bottom: -15px;
  display: flex;
  text-align: center;
  justify-content: center;
}