@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.reviewSection{
background-color: black;
}
.title{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}
.gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.mainBackground{
    position: relative;
}
@media (max-width: 991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 500px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}