@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.reviewSection{
background-color: black;
min-height: 120vh;
}
.title{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}
.date{
    display: flex;
    text-align: center;
    justify-content: center;
    right: 0;
    font-size: 30px;
    text-transform: uppercase;
}
.btnSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}.btnSeeMore:hover {
    color: #fff;
    background-color: #00a748;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
.btnSeeMore{
        appearance: none;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 10px;
        min-width: 0;
        outline: none;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 90%;
}
.user{
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}
.review{
    font-size: 22px;
    margin: auto 40px;
}
.cardInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.btnClosed{
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 30px;
    transition: all 1s;
}
.btnClosed:hover{
    cursor: pointer;
    transform: scale(1.02);
    rotate: 90deg;
}
.horizontalLine{
    width: 90%;
    margin: 0 5%;
}
.cardContainer{
    border-radius: 1rem;
    position: sticky;
    top: 7%;
    margin-top: 7%;
    display: grid;
    grid-template-columns: 500px minmax(500px,1fr);
    background-color: rgb(255, 255, 255);
}
.image{
    object-fit: fill;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.mainContainer{
    position: relative;
    z-index: 0;
}
.stars{
    font-size: 30px;
    color: yellow;
}
.imgOpen{
    background-color: #0009;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 10%;
}
.mainBackground{
    position: relative;
}
.imgClosed{
    display: none;
}
@media (max-width: 1225px){
    .cardContainer{
        border-radius: 1rem;
        position: sticky;
        top: 10%;
        margin-top: 10%;
        display: inline-block;
        background-color: rgb(255, 255, 255);
    }
    .review{
        font-size: 17px;
    }
    .image{
        border-radius: 1rem;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .stars{
        font-size: 25px;
        color: yellow;
    }
    .date{
        font-size: 20px;
    }
    .user{
        font-size: 25px; 
    }
    .btnClosed{
        position: absolute;
        right: 0;
        top: 0;
        color: white;
    }
}
@media (max-width: 1000px){
    .gallery{ /*No borrar*/
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 700px){ 
    .gallery{/*No borrar*/
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }  
}
@media (max-width: 600px){
    .cardContainer{
        top: 30%;
        margin-top: 30%;
    }
    .image{
        width: 120%;
    }
    .user{
        font-size: 1rem;     
    } 
    .title {
        font-size: 1.5rem;
    }
    .review{
        font-size: 0.7rem;
    }
    .date{
        font-size: 0.8rem;
    }
}