.card {
    background: #00a748;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
    height: 250px;
    width: 400px;
    flex-wrap: wrap;
}

.tittle {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.text {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    vertical-align: middle;
}

.card:hover {
    background: #00a748;
    opacity: .9;
}

.tittle::after {
    content: "<";
    opacity: 0;
    padding-left: 1vh;
    transition: 0.5s;
}

.tittle:hover::after {
    content: "<";
    padding-left: 5vh;
    opacity: 1;
}

@media (max-width: 600px) {
    .card {
        width: 250px;
        height: max-content;
    }

    .tittle {
        font-size: 20px;
    }

    .text {
        font-size: 15px;
    }
}