@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap');

.textPrimaryP {
    color: #a5aaad;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.textLightblue {
    color: #469cac;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 10px;
}

.textRed {
    color: #cc3d38;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 10px;
}

.textYellow {
    color: #a98921;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 10px;
}

.textGreen {
    color: #3b9668;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 10px;
}

.mainAdmin {
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: contain;
    height: 100%;
}

.mainContainerAdmin {
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitleAdmin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainGreeting {
    font-family: 'Genos', sans-serif;
    font-size: 40px;
    color: #1D2128;
    margin-bottom: 5px;
}

.mainCardsAdmin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.cardAdmin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;
    height: 130px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.cardInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.numbers {
    font-family: 'Genos', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #2e4a66;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff;
    gap: 20px;
    width: 68vw;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.chart {
    width: 40%;
    margin: 20px;
}

.chartsTitle {
    font-family: 'Genos', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
    width: 100%;
}

.error {
    font-family: 'Genos', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

@media (max-width: 600px) {

    .mainContainerAdmin {
        padding: 10px 0;
    }

    .mainGreeting {
        font-size: 20px;
    }

    .textPrimaryP {
        font-size: 15px;
    }

    .numbers {
        font-size: 15px;
    }

    .error {
        font-size: 20px;
        text-align: center;
    }

    .chartsTitle {
        font-size: 15px;
    }

    .cardAdmin {
        width: 40%;
        height: fit-content;
    }
    
    .textPrimaryP {
        display: none;
    }
}

@media (max-width: 750px) {

    .mainAdmin {
        height: 100%;
    }

    .mainCardsAdmin {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    .charts {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}

@media (max-width: 570px) {

    .mainCardsAdmin {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }


    .charts {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}