@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap');


.vipView {
    display: grid;
    grid-template-columns: 20% 80%;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    height: 100%;
}

.btn {
    font-family: 'Oswald', sans-serif;
    background-color: #00a748;
    border: NONE;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 30px;
    width: 50%;
}

.btn:hover {
    color: #ffffff;
    background-color: #00a748;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: NONE;
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: #00a748;
}

.main {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.error {
    font-family: 'Genos', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

.titulo1 {
    background-color: #1D2128;
    color: white;
    width: 95%;
    border-radius: 10px;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.contenedorEvents {
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contenedorEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    transition: all 1s;
    width: 30vw;
}

.contenedorEvent:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.miniFlex {
    display: flex;
}

.textHid {
    font-weight: bold;
}

.input {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    border-radius: 5px;
}

.botones {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 600px) {

    .btn {
        font-size: 7.5px;
        height: 15px;
        margin: 5px;
    }

    .main {
        font-size: 10px;
        padding: 15px;
        background-size: contain;
    }

    .titulo1 {
        font-size: 16px;
        width: 100%;
        height: 50px;
        margin: 2px;
    }

    .contenedorEvents {
        gap: 5px;
        padding: 0;
    }

    .contenedorEvent {
        width: 31vw;
        margin: 5px;
        padding: 5px;
    }

    .error {
        font-size: 20px;
        text-align: center;
    }

    .textHid {
        display: none;
    }
}