@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.reviewSection{
background-color: black;
}
.title{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}