#sidebarAdmin{
    background: #121820;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;   
}



.sidebarAdminTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
}

.sidebarAdminImg {
    display: flex;
    align-items: center;
}


.fTitle{
    font-size: 18px;
    display: inline;
}

.fIcons{
    font-size: 18px;
    display: none;
}

.menu{
    transition: all 1s;
    display: flex;
}


.sidebarAdminSubtitle{
    color: #3ea175;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 1s;
    width: max-content;
}

.menu:hover{
    background: rgba(62, 161, 117, 0.3);
}
.menu:hover .sidebarAdminSubtitle{
    color: #fff;
}

.menu > i{
    color: #3ea175;
}


.sidebarAdminLink{
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.sidebarAdmina{
    color: #e65061;
}

.activeMenuLink{
    background: rgba(62, 161, 117, 0.3);
    color: #3ea175;
}

.activeMenuLink a{
    color: #3ea175 !important;
}

.sidebarAdminLink > a{
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}

.sidebarAdminLink > i {
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
}

.sidebarAdminLogout{
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
    display: flex;
}

.sidebarAdminLogout > a{
    cursor: pointer;
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebarAdminLogout > i{
    margin-right: 10px;
    font-size: 18px;
}

.sidebar{
    grid-row-start: 1;
    grid-row-end: 3;
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
}
.sidebarAdminIcon{
    color: beige;
}

@media (max-width: 1000px){
    .sidebarAdminLink > a{
        display: none;
    }
    .sidebarAdminLink > i{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #sidebarAdmin{
        padding: 5px;
    }
    .sidebarAdminSubtitle {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 745px){
    .sidebarAdminSubtitle {        
        display: none;
    }
    .sidebarAdminTitle{
        display: none;
    }
}