@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap');

#sidebarAdmin {
    background: #121820;
    padding: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: 'Oswald', sans-serif;
}

.sidebarAdminTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f3f4f6;
    margin-bottom: 30px;
    font-family: 'Genos', sans-serif;
    position: relative;
}

.sidebarAdminMenu {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0vh;

}

.fTitle {
    font-size: 30px;
    display: inline;
}

.sidebarAdminLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3ea175;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 700;
    transition: all 1s;
    gap: 10px;
}

.sidebarAdminLink:hover {
    background: rgba(62, 161, 117, 0.3);
    color: #3ea175;
}

.sidebarAdminLink:hover .text {
    color: #fff;
}

.text {
    transition: all 1s;
}

.sidebarAdminLogout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 1s;
    border-radius: 3px;
    text-decoration: none;
}

.sidebarAdminLogout:hover {
    background: rgba(62, 161, 117, 0.3);
    color: #e65061;
}

.sidebarAdminLogout:hover .text {
    color: #fff;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    left: 0 !important;
    position: sticky;
    top: 0vh;
}

@media (max-width: 1000px) {
    #sidebarAdmin {
        padding: 5px;
    }

    .sidebarAdminLink {
        font-size: 15px;
    }

    .sidebarAdminLink .text {
        display: none;
    }

    .sidebarAdminLogout .text {
        display: none;
    }
}

@media (max-width: 600px) {
    .sidebarAdminMenu {
        display: flex;
        align-items: center;
    }

    .sidebarAdminTitle .fTitle {
        display: none;
    }

    .sidebarAdminLink .text {
        display: none;
    }

    .sidebarAdminLogout .text {
        display: none;
    }
}