.container {
    position: relative;
}

.buttons {
    display: flex;
    margin-top: 10px;
}

.imageContainer {
    position: relative;
    width: 350px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
}

.overlayTitle {
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, black 20%, transparent 100%);
    opacity: .94;
    bottom: 0;
    height: 20%;
    width: 100%;
    transition: 0.4s;
}

.overlayInfo {
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, black 10%, transparent 100%);
    bottom: 0;
    height: 0;
    width: 100%;
    transition: 0.4s;
    color: white;
}

.title {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-weight: 300;
    width: 100%;
    transition: .8s;
    text-align: center;
    margin-bottom: 50px;
}

.imageContainer:hover .overlayInfo {
    overflow: visible;
    padding: 1rem 1.5rem;
    height: 100%;
}

.imageContainer:hover .overlayTitle {
    height: 0%;
}

.catpd {
    position: absolute;
    margin: auto 10px;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    transition: .8s;
}

.imageContainer:hover .catpd {
    opacity: 1;
}

.imageCa {
    width: 350px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    font-size: 40px;
    background: #181818;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    color: white;
}

.buttonBack {
    width: 40px;
    height: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 60px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.prueba {
    display: flex;
    justify-content: center;
    margin: auto;
}

.buttonNext {
    width: 40px;
    height: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 60px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

@media screen and (max-width:920px) {
    .headerTitle {
        font-size: 35px;
    }
}
@media screen and (max-width:800px) {
    .headerTitle {
        font-size: 30px;
        height: 40px;
    }
}
@media screen and (max-width:650px) {
    .headerTitle {
        font-size: 20px;
        height: 30px;
    }
    .imageContainer {
        width: 280px;
        height: 240px;
    }
    .imageCa{
        width: 280px;
        height: 240px;
    }
    
}
@media screen and (max-width:500px) {
    .headerTitle {
        font-size: 16px;
        height: 20px;
    }
    
}