@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.mainContainer {
    padding: 40px;
    font-family: 'Oswald', sans-serif;
}

.section {
    margin: 10px 20px;
}
.sectionUser{
    margin: 10px 20px;
}

.section:hover .infoSubtitle{
    border-top: 1px solid #1d2128aa ;
}
.info {
    gap: 50px;  
    border: 1px solid #1d2128;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infoSubtitle {
    cursor:default;
    text-align: center;
    padding: 10px 40px;
    position: relative;
}

.infoP {
    border-top: 1px solid transparent ;
    transition: border-top .5s linear;
    cursor: default;
}

.update {
    text-align: center;
    padding: 10px 40px;
    position: relative;
    border: 1px solid #1d2128;
    border-radius: 1rem;
}

.tags {
    background: #1d2128;
    border-radius: 1rem;
}

.tagsInfo {
    text-align: center;
    margin: 10px auto;
    background: #fff;
    border-radius: 1rem;
    font-size: larger;
}


.update:hover .icon {
    display: flex;

}

.icon {
    display: none;
    color: #fff;
    position: relative;
    right: 0;
    top: 4px;
}


.password {
    position: relative;
    text-align: center;
    color: #000;
    justify-self: center;
    align-self: center;
}

.trips{
    
    grid-column-start: 1;
    grid-column-end: 3;
    background: #83bb49;
    width: 80%;
    height: 90%;
    margin: auto;
    border-radius: 1rem;
    padding: 5px 15px;
}

.pref{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.preference{
    border: 1px solid #83bb49;
    border-radius: 1rem;
    padding: 2px 10px;
    font-size:medium;
    margin: 8px;
}

@media screen and (max-width:650px) {
    .mainContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .tags {
        width: 100%;
    }
}