@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/*SECTION NUMBER 1*/
.orgSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-image: url('https://drive.google.com/uc?export=view&id=14gE1m9trO_XCBbPC8jBy1vvQpVGnak3A');
}

.orgContainer {
    padding: 0;
    margin: 0;
}

.persoContainer {
    background: #1D2128;
    border-radius: 1rem;
    width: 100%;
    height: 100px;
    margin-top: 70px;
}

.persoTittle {
    color: #fff;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 4rem;
    padding-top: 10px;
}

.orgCards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orgtextCard {
    background: transparent;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
}

.orgRoleInfo {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

.orgRoleTittle {
    font-size: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.orgImage {
    width: 300px;
    height: 400px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background: #00a748;
    overflow: hidden;
}

.orgInfo {
    width: 300px;
    height: 220px;
    margin-top: 10px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: #00a748;
    overflow: hidden;
}

.personalImage {
    width: 300px;
    height: 400px;
    transition: 1s all;
}

.personalImage:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*SECTION NUMBER 2*/
.infoSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background: #1D2128;
    color: #fff;
}

.infoContainer {
    padding: 0;
    margin: 0;
}

.infoMainTittle {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.infoCards {
    display: flex;
}

.infoTextCards {
    background: #00a748;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
}

.infoSection .infoCards :hover {
    background: #00a748;
    opacity: .9;
}

.infoTitle {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.infoParagraph {
    font-size: 20px;
    text-align: center;
}

.infoImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoImage {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

/*SECTION NUMBER 3*/
.valuesSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-image: url('https://drive.google.com/uc?export=view&id=14gE1m9trO_XCBbPC8jBy1vvQpVGnak3A');
    color: #ffffff;
}
.valuesCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.valuesTextCard{    
    background: #00a748;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
}
.valuesSubtittle{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}
.valuesDescription{
    font-size: 20px;
    text-align: center;
}
.valuesContainer {
    padding: 0;
    margin: 0;
}
.valuesContainerTitle {
    background: #1D2128;
    border-radius: 1rem;
    width: 100%;
    height: 100px;
    margin-top: 70px;
}

.valuesTitle {
    color: #fff;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 4rem;
    padding-top: 10px;
}
.valueImg {
    width: 500px;
    height: 300px;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    margin-top: 20px;
}
.valueImg:hover{
    opacity: .9;
}
.valueContainerImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.valuesSubtittle::after{
    content: "<";
    opacity: 0;
    padding-left: 1vh;
    transition: 0.5s;
}

.valuesSubtittle:hover::after{
    content: "<";
    padding-left: 5vh;
    opacity: 1;
}
@media (max-width: 1150px) {
    .orgCards,.valuesCards {
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .persoTittle,.valuesTitle{
        font-size: 2.5rem;
        padding-top: 20px;
    }
    .infoCards, .valuesCards{
        flex-direction: column;
    }
}