@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.navbar{
    position: sticky;
    top: 0;
    z-index: 9999;
}

/*SECTION 1 and 3*/
.firstSection,
.thirdSection {
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

.orgSection,.valuesSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}
/*SECTION NUMBER 2*/
.infoSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background: #1D2128;
    color: #fff;
}

.infoContainer {
    padding: 0;
    margin: 0;
}

.infoMainTittle {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.infoCards {
    display: flex;
}

.infoImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoImage {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

/*SECTION NUMBER 3*/

.valuesCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.valuesContainer {
    padding: 0;
    margin: 0;
}
.valueImg {
    width: 500px;
    height: 300px;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    margin-top: 20px;
}

.valueImg:hover {
    opacity: .9;
}

.valueContainerImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1150px) {

    .orgSection,
    .infoCards,
    .valuesCards {
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .headerTittle {
        font-size: 2rem;
        padding-top: 25px;
    }

    .valueImg {
        width: 450px;
    }
}