@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRaleway:400,300,700);

.cam {
    text-decoration: none;
    color: #000000;
}

.popularSectionContainer {
    width: 350px;
    box-shadow: inset;
}

.mainContentGrid {
    gap: 1rem;
}

.singleDestination {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #FFf;
}

.destImage {
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlayInfo {
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, black 10%, transparent 100%);
    bottom: 0;
    height: 0;
    width: 100%;
    transition: 0.4s;
}


.overlayTitle {
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, black 20%, transparent 100%);
    opacity: .8;
    bottom: 0;
    height: 20%;
    width: 100%;
    transition: 0.4s;
}

.title {
    position: absolute;
    right: 0;
    color: white;
    font-weight: 600;
    width: 100%;
    transition: .8s;
    text-align: center;
    top: 0;
}
.catp {
    color: white;
    opacity: 1;
    font-size: 13px;
    font-weight: bold;
}
.catpd {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    transition: .8s;
}

#destFooter {
    display: inline;
    height: 50px;
}


.lugar {
    color: black;

}

.descripcion {
    color: black;
}

.hr {
    background-color: rgb(0, 0, 0);
}
.Prices{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding-bottom: 3px;
    
}

.precios .catp {
    color: black;
    display: inline;
    justify-content: center;
    margin: 10px;
    color: rgb(133, 132, 132);
    text-decoration: line-through;
    font-weight: bold;
}

.precios b {
    margin: 10px;
}

.precios {
    text-align: center;
}

.descuentosPrecios {
    text-align: center;

}

.descuentosPrecios .catp {
    color: rgb(0, 0, 0);
    display: inline;
    align-items: center;
    font-weight: bold;
    margin: 10px;
}

.ahorro {
    color: rgb(36, 102, 9)
}



.destTextFlex {
    justify-content: space-between;
}

.flex {
    font-size: 16px;
    font-weight: 600;
    align-items: flex-start;
    transform: translateY(5px);
}

.destImage:hover .overlayInfo {
    overflow: visible;
    padding: 1rem 1.5rem;
    height: 100%;
}

.destImage:hover .overlayTitle {
    height: 0%;
}

.destImage:hover .catpd {
    opacity: 1;
}

.destImage:hover .title {
    height: 0%;
}

.destImage:hover .title {
    transform: translateY(-100%);
    text-align: center;
}

.secContainer {
    border-radius: 1rem;
    height: 100%;
    transition: 0.8s;
}

.secContainer:hover {
    transform: translateY(5px);
    transform: scale(1.05);
}

.revs {
    text-align: center;
    transform: translateY(10%);
}

@media screen and (max-width:920px) {
    .title {
        color: white;
        font-weight: 200;
        text-align: center;
    }

}

.tiempo {
    color: rgb(0, 0, 0);
}

.destFooterContenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2px;
    grid-column-gap: 20px;
    padding: 2px;
}

.lugar {
    padding-left: 15px;
}

.stars {
    margin-left: 15%;
    color: gold;
    transform: scale(2);
    padding: 2%;
}

.starsNumber {

    transform: scale(1.5);
    margin-left: 1rem;
    color: black;
}

.StarsContainer {
    display: flex;
}


/*caja de descuento*/
.card {
    position: absolute;
    overflow: visible;
    align-items: center;
    top: -170px;
    left: 45px;
    width: 140%;
    height: 55px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #f00;
    transform: rotate(45deg);
    color: #FFf;
    font-weight: bold;

}
.p{
    position: relative;
    top: 25%;
}

.card .catp {
    font-size: medium;
    opacity: 1;
}

.destImage:hover .card {
    transition: .5s;
    opacity: 0;
}