.gradient {
    position: relative;
    background: linear-gradient(to right, black 30%, transparent 100%);
    padding-bottom: 8%;
}

.principal {
    margin: 0;
    color: #ffffff;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;

}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 32px;

}

.info {
    width: 100%;
    padding-top: 24px;
    padding-left: 24px;
}

.info>div {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 32px;
}

.tourTitle {
    width: 100%;
    font-size: 64px;
    font-weight: bold;
}

.tourDetail .tourInfo {
    display: inline-block;
    margin-right: 64px;
    margin-top: 10px;
}

.icons {
    margin: 0 10px;
}


.labelTitle {
    font-size: 14px;
    color: #ededed;
    display: block;
}

.tourDetail .span {
    font-size: 22px;
}

.tourDescription {
    line-height: 24px;
}

.tourActivities .list {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-gap: 32px;
}

.tourActivities .activities {
    width: 120px;
    height: 160px;
    cursor: pointer;
}

.header {
font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.tourActivities .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: 1s;
}

.tourActivities .activities:hover .img {
    transform: scale(1.1) rotateZ(-2deg);
}

.tourActivities .label {
    margin-top: 8px;
    display: block;
    transition: 1s
}

.label{
    text-align: center;
}

.tourActivities .activities:hover .label {
    margin-top: 24px;
    font-weight: medium;
}

@media screen and (max-width:920px) {

    .container {
        display: flex;
    }

    .tourActivities .list {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:600px) {
    .gradient {
        position: relative;
        background: linear-gradient(to right,  #000 100%, transparent 100%);
        padding-bottom: 8%;
    }
    .container {
        display: flex;
        justify-content: center;
        position: relative;

    }
    .tourTitle {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
    }

    .header{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .activities{
        width: 50px;
        margin-bottom: 50px;
    }

     .list{
        position: relative;
        justify-content: center;
        align-items: center;
    }
    


}