@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: fit-content;
    padding-bottom: 10vh;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: contain;
    font-family: 'Oswald', sans-serif;
}

.title {
    font-size: 50px;
    padding-top: 2vh;
    font-family: 'Genos', sans-serif;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin: 10px;
}

.text {
    text-decoration: none;
    color: #000;
}

.text:hover {
    color: #00a748;
}

@media (max-width: 600px) {

    .title {
        font-size: 30px;
    }

    .header {
        font-size: 15px;
        width: 90vw;
    }

    .textBody {
        font-size: 15px;
        width: 90vw;
    }

}