@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.footerLeft img {
    width: 100px;
    height: 100px;
}

.footerDistributed {
    background: #1D2128;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    height: 320px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


/* Footer left */
.footerDistributed .footerLeft {
    width:33%;
    float:left;
    text-align: center;
}

/* Footer Center */

.footerDistributed .footerCenter {
    width:33%;
    float:left;
    text-align: center;
}

.footerDistributed .footerCenter .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 10px 15px;
    vertical-align: middle;
    cursor: pointer;
}

.footerDistributed .footerCenter p {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
}

.footerDistributed .footerCenter p span {
    display: block;
}


/* Footer Right */
.footerDistributed .footerRight {
    width:33%;
    float:left;
    text-align: center;
}

.footerDistributed .footerCompanyAbout {
    line-height: 30px;
    color: #92999f;
}

.footerDistributed .footerCompanyAbout span {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footerDistributed .footerIcons {
    margin-top: 10px;
}
.footerDistributed .footerIcons .icon{
    margin-top: 3px;
}

.footerDistributed .footerIcons a {
    display: inline-block;
    width: 50px;
    height: 40px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    line-height: 0px;
    margin-right: 15px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 780px){

    .footerDistributed {
        font-size: 15px;
    }
    .footerDistributed .footerCompanyAbout span {
        font-size: 25px;
    }
    .footerDistributed .footerIcons a {
        width: 40px;
        height: 30px;
        font-size: 25px;
    }
    .footerDistributed .footerCompanyAbout {
        line-height: 20px;
    }

}