.MainContainer {
  background-image: url('https://drive.google.com/uc?export=view&id=14gE1m9trO_XCBbPC8jBy1vvQpVGnak3A');
  position: relative;
}

.VideoC{
  position: relative;
}

.NavbarC{
  position: sticky;
  z-index: 9999999;
  top: 0;
}

#catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(335px,1fr));
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  margin: 10%;
}

@media screen and (max-width:1025px) {
  #catalogue {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}