@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.PreferenceContainer{
    background-image: url('https://drive.google.com/uc?export=view&id=14gE1m9trO_XCBbPC8jBy1vvQpVGnak3A');
    min-height: 100vh;
    min-width: 100vh;
}
.tittle {
    mix-blend-mode: multiply;
    background: #1d2128;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
    padding: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}
.imgCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.send{
    display: flex;
    justify-content: center;
    align-items: center;
}