@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,700&display=swap');

.UsersMain {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3, 1);
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
}

.User {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.error {
    font-family: 'Genos', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;    
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1XPHv76qI1Y303811H7gbUPpmv9KQSa5u');
    background-size: cover;
}

@media (max-width: 600px) {

    .error {
        font-size: 20px;
        text-align: center;
    }
}